html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

body {
    padding: 0px;
}

.container {
    width: 100%;
    max-width:1200px;
    margin: 0 auto;
    padding: 10px;
}

.row {
    width:100%;
}

.column {
    float:left;
    box-sizing: border-box;
    /*margin-bottom:2%;*/
    padding:10px;
}

@media screen and (max-width: 768px) {

    .full-sm {
        width:100%;
    }

    .one-half-sm {
        width: 50%;
    }

    .one-third-sm {
        width: 33.3333%;
    }

    .one-fourth-sm {
        width: 25%;
    }

    .one-sixth-sm {
        width: 16%;
    }

    .one-eighth-sm {
        width: 12.5%;
    }

    .three-fourths-sm {
        width: 75%;
    }
}

@media screen and (min-width: 769px) {

    .full-m {
        width:100%;
    }

    .one-half-m {
        width: 50%;
    }

    .one-third-m {
        width: 33.3333%;
    }

    .one-fourth-m {
        width: 25%;
    }

    .one-sixth-m {
        width: 16%;
    }

    .one-eighth-m {
        width: 12.5%;
    }

    .three-fourths-m {
        width: 75%;
    }
}

/*@media screen and (min-width: 901px) {*/

    /*.one-half-lg {*/
        /*width: 50%;*/
    /*}*/

    /*.one-third-lg {*/
        /*width: 33.3333%;*/
    /*}*/

    /*.one-fourth-lg {*/
        /*width: 25%;*/
    /*}*/

    /*.one-sixth-lg {*/
        /*width: 16%;*/
    /*}*/

    /*.one-eighth-lg {*/
        /*width: 12.5%;*/
    /*}*/

    /*.three-fourths-lg {*/
        /*width: 75%;*/
    /*}*/
/*}*/
