/* Applies to all screen sizes */
body {
    font-family: sans-serif;
    /*width: 95%;*/
}

.header-img img {
    max-width: 100%;
}

.nav-links {
    list-style-type: none;
}

.sub-section > * {
    font-style: italic;
}

#social-media-links ul {
    float:right;
}

#social-media-links li {
    list-style-type: none;
    display: inline;
    font-size:2em;
}

footer {
    /*padding-top: 2em;*/
    /*padding-left:2em;*/
    clear: both;
    overflow: auto;
}

footer p {
    float: left;
}



/* For screens larger than 900 px */
@media screen and (min-width: 901px) {
    .header-img img {
        width: 900px;
        margin: 0 auto;
        display: block;
    }
    .header-img {
        clear:both;
        width: 100%;
    }

    .nav-links {
        padding-left: 0;
        float: right;
    }

    .nav-links li {
        display: inline-block;
        margin-right: 1em;
    }

    .nav-links li:last-child {
        margin-right: 0;
    }

    .alert-info {
        display: none;
    }

    h1 {
        float: left;
    }

    .main {
        box-sizing: border-box;
        /*width:70%;*/
        float: left;
        padding-right:5%;
    }

    .sub-section {
        box-sizing: border-box;
        /*width: 30%;*/
        float: left;
    }
}

/* For screens larger than 768 px and smaller than 901 px */
@media screen and (min-width: 769px) and (max-width:900px) {

    h1 {
        float: left;
    }

    .alert-info {
        display: none;
    }

    .nav-links {
        float: right;
        padding-left: 0;
    }

    .nav-links li {
        display: inline-block;
        margin-right: 1em;
    }

    .nav-links li:last-child {
        margin-right: 0;
    }

    .main {
        box-sizing: border-box;
        /*width:70%;*/
        float: left;
        padding-right:5%;
    }

    .sub-section {
        box-sizing: border-box;
        /*width: 30%;*/
        float: left;
    }
}

/* For screens smaller than 768 px */
@media screen and (max-width: 768px) {

    .alert-info {
        background-color: #CCFFFF;
        border: 1px solid #CCCCCC;
        text-align: center;
        font-size: .9em;
        display: block;
    }

    .alert-info > a {
        text-decoration: none;
        color: black;
        display: block;
        padding: 4% 0;
    }

    h1 {
        text-align: center;
    }

    .nav-links {
        text-align: center;
        padding-left: 0px;
        list-style-type: none;
    }

    .nav-links > li {
        background-color: #CCCCCC;
        margin-bottom: 2.5%;
    }

    .nav-links a {
        display: block;
        padding: 4% 0;
    }

    .sub-section {
        margin-top: 2em;
        margin-bottom: 2em;
    }

    .sub-section > h2 {
        font-size: 1.25em;
    }

    /*.header-img > img {*/
        /*margin: 0 10px;*/
        /*width:100%;*/
    /*}*/

    /*#social-media-links > ul {*/
        /*float:left;*/
    /*}*/

    /*#social-media-links li {*/
        /*list-style-type: none;*/
        /*display: inline;*/
        /*font-size:2em;*/
}
